.issuesList {
   // min-height: 100vh;
    background-color: lightyellow;
    .issue {
        min-height: 2em;
        padding: .5em .5em .5em 1em;
        border-bottom: 1px solid grey;
        cursor: pointer;
        &-link {
            text-decoration: none;
            color: black;
            &-title {
                font-weight: 500;
                font-size: 1.1em;
            }
            &-number {
                font-size: .8em;
            }
        }
        
    }

}

